@font-face {
    font-family: 'Bulo';
    src:url('bulo-light.woff') format("woff");
    font-weight: 300;
}


@font-face{
    font-family: 'Bulo';
    src:url('bulo.woff') format("woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Bulo';
    src:url('bulo-medium.woff') format("woff");
    font-weight: 500;
}

@font-face {
    font-family: 'Bulo';
    src:url('bulo-bold.woff') format("woff");
    font-weight: 700;
}